@import "../../scss";

.wrapper {
  z-index: 1;
  width: 100%;
  display: flex;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 10px 0 #dfdfdf;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 80rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: $primary;
  width: 20%;
}

.list {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.item {
  cursor: pointer;
}

.item:hover {
  color: $primary;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 60%;
    margin: auto;
  }

  .list {
    display: none;
  }
}
